# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

PORT=5000

APP_URL=https://localhost:5000

DATABASE_URL="postgres://2e6178cd1807f9e8605001e9f5d7e7446e519e6bc1af758027b24e65f5cdbbc8:sk_VBdD09eDT_b93gpYGgcxx@pooled.db.prisma.io:5432/postgres?sslmode=require"


BCRYPT_SALT_ROUNDS=10

JWT_ACCESS_SECRET=fixitnow_super_secret_access_key_2026
JWT_REFRESH_SECRET=fixitnow_super_secret_refresh_key_2026
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY